body {
    background-image: linear-gradient(to right, #289FCF, #001C44);
    color: #fff;
}

a {
    color: rgba(0, 27, 68, 1.0);
    text-decoration: none;
}

    a:hover {
        color: rgba(0, 27, 68, 1.0);
        text-decoration: none;
    }

    a:active {
        color: rgba(0, 27, 68, 1.0);
    }

    a:visited {
        color: rgba(0, 27, 68, 1.0);
    }

.login-float-outer {
    width: 100%;
    height: 100%;
    margin: 20% auto 0;
    padding: 0;
    top: 0;
    bottom: 0;
}

.login-float-inner {
    width: 650px;
    height: 668px;
    margin: 0 auto;
}