@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300');

@font-face {
    font-family: "SourceSansPro-Italic";
    src: url('../fonts/SourceSansPro-Italic.ttf') format("truetype");
}

@font-face {
    font-family: "SourceSansPro-Regular";
    src: url('../fonts/SourceSansPro-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Source Sans Pro Bold";
    src: url('../fonts/SourceSansPro-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "Catalunyademo";
    src: url('../fonts/Catalunya demo.ttf') format("truetype");
}

body {
    background-image: linear-gradient(to right, #289FCF, #001C44);
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    color: #001C44;
    font-size: 18px;
}

a {
    color: rgba(0, 27, 68, 1.0);
    text-decoration: none;
}

    a:hover {
        color: rgba(0, 27, 68, 1.0);
        text-decoration: none;
    }

    a:active {
        color: rgba(0, 27, 68, 1.0);
    }

    a:visited {
        color: rgba(0, 27, 68, 1.0);
    }

h2 {
    font-family: "Source Sans Pro Bold";
    font-size: 32px;
    color: #001C44;
}

h3 {
    font-family: "Source Sans Pro Bold";
    font-size: 23px;
    color: #001C44;
}

.login-float-outer {
    width: 100%;
    height: 100%;
    margin: 20% auto 0;
    padding: 0;
    top: 0;
    bottom: 0;
}

.login-float-inner {
    width: 650px;
    height: 668px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -325px;
    margin-top: -334px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 1px 1px 50px 10px rgba(0,37,80,0.2);
}

.login-float-inner-2 {
    height: 738px;
    margin-top: -369px;
}

.white-background {
    background-color: #fff
}

.fifty-percent-alpha-background {
    background-color: rgba(147,177,214, 0.5);
}

.a3s-title {
    font-family: "Catalunyademo", Helvetica, Arial, serif;
    font-size: 6em;
    letter-spacing: 3.38px;
    line-height: 47.0px;
    vertical-align: middle;
}

.form-control {
    padding: 12px 13px;
    border: 1px solid #fff;
    color: #001c44;
    background-color: #fff;
    background-clip: padding-box;
    font-size: 1em;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    height: auto;
    line-height: 23px;
    border-radius: 7px;
    display: block;
    width: 100%;
    overflow: visible;
    margin: 0;
    box-shadow: 1px 1px 50px 10px rgba(0,37,80,0.2);
}

.text-box {
    height: 53px;
    width: 471px;
    margin: 20px auto;
}

.spoon-btn-primary {
    height: 47px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #fff;
    background-color: #001a3c;
    border-color: #001a3c;
    text-align: center;
    letter-spacing: 1px;
    line-height: 23px;
    border-radius: 25px;
    padding: 0 40px;
}

.spoon-btn {
    height: 47px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #001C44;
    background-color: #fff;
    border-color: #001a3c;
    text-align: center;
    letter-spacing: 1px;
    line-height: 23px;
    border-radius: 25px;
    padding: 0 40px;
}

.right-align {
    text-align: right;
    margin-right: 85px;
}

ul {
    list-style: none;
}

.a3s-big-logo {
    height: 115px;
    width: 115px;
}

.a3s-small-logo {
    height: 70px;
    width: 70px;
}

.additional-logo {
    height: 28px;
    width: 138px;
}

.blue-box {
    border: 1px solid #7db7df;
    border-radius: 7px;
    margin: 30px 50px;
    padding: 30px;
}