@model LoginViewModel



@if (Model.EnableLocalLogin)
{

    <div class="login-float-inner fifty-percent-alpha-background">
        <br />&nbsp;<br />

        <div><img src="~/img/a3s.png" class="a3s-big-logo" /></div>
        <div class="a3s-title">A3S</div>
        <br />&nbsp;<br />
        <div><img src="~/img/GB_logo_navy.svg" class="gbl-logo" /></div>

        <br />&nbsp;<br />
        <form asp-route="Login">
            <input type="hidden" asp-for="ReturnUrl" />

            <div><input class="form-control text-box" placeholder="Username" type="text" asp-for="Username" autofocus></div>
            <div><input class="form-control text-box" placeholder="Password" type="password" asp-for="Password" autocomplete="off"></div>

            <br />&nbsp;<br />

            <div class="right-align">
                <button class="spoon-btn-primary" name="button" value="login">Log in</button>
            </div>
        </form>

        <partial name="_ValidationSummary" />
    </div>

}

@if (Model.VisibleExternalProviders.Any())
{
    <div class="col-md-6 col-sm-6 external-providers">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">External Login</h3>
            </div>
            <div class="panel-body">
                <ul class="list-inline">
                    @foreach (var provider in Model.VisibleExternalProviders)
                    {
                        <li>
                            <a class="btn btn-default"
                               asp-controller="External"
                               asp-action="Challenge"
                               asp-route-provider="@provider.AuthenticationScheme"
                               asp-route-returnUrl="@Model.ReturnUrl">
                                @provider.DisplayName
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}

@if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
{
    <div class="alert alert-warning">
        <strong>Invalid login request</strong>
        There are no login schemes configured for this client.
    </div>
}
